<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>We are going to get you that consulting gig.</h3>
                <h1>JUST B UR SELF.</h1>
                <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h5>
                <h5>More Lorem Ipsum added here too.</h5>				
            </div>
            <!--
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
            -->
        </div><!-- /row -->
        <div>
            <h3>Apply here for the Batch of 2020!</h3>
        </div>
    </div> <!-- /container -->
</div><!-- /headerwrap -->
